* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
ul, ol {
   list-style: none;
}
a {
   text-decoration: none;
}

body {
   background: #efefef;
}

main{
   width: 100%; padding: 4vw;

   section{
      width: 100%; 
      &::after{
         content: ''; display: block; clear: both;
      }
      .item-sizer{
         width: 12%;
         height: 0px;
         opacity: 0;
      }
      .item{
         float: left;
         width: 12%; height: 150px;
         padding: 5px;

         &:nth-of-type(2){width: 24%;}
         &:nth-of-type(4){width: 24%;
         .inner{background: #c7c4c4;}}
         &:nth-of-type(6){width: 24%;}
         &:nth-of-type(7){.inner{background: #efefef;}}
         &:nth-of-type(8){.inner{background: #c7c4c4;}}
         &:nth-of-type(9){.inner{background: #efefef;}}
         &:nth-of-type(11){width: 24%;.inner{background: #c7c4c4;}}
         &:nth-of-type(12){.inner{background: #efefef;}}

         .inner{
            width: 100%; height: 100%;
            background: #fff; 
         }

         
      }
   }
}